<h1>Nette::Callback test</h1>

<pre>
Normal:
one [ComponentContainer]
two [ComponentX]
button1 [Button]


Filter:
button1 [Button]


RecursiveIteratorIterator:
one [ComponentContainer]
inner [ComponentX]
inner2 [ComponentContainer]
button2 [Button]
two [ComponentX]
button1 [Button]


Recursive:
one [ComponentContainer]
inner [ComponentX]
inner2 [ComponentContainer]
button2 [Button]
two [ComponentX]
button1 [Button]


Recursive CHILD_FIRST:
inner [ComponentX]
button2 [Button]
inner2 [ComponentContainer]
one [ComponentContainer]
two [ComponentX]
button1 [Button]


Recursive & filter I:
button2 [Button]
button1 [Button]


Recursive & filter II:
one [ComponentContainer]
inner2 [ComponentContainer]


