<h1>Nette\Component cloning test</h1>

<pre>
B::ATTACHED(A)
C::ATTACHED(A)

'e' looking 'a'
b-c-d-e

clone 'c'
C::detached(A)

'e' looking 'a'


'e' looking 'c'
d-e

clone 'b'
C::detached(A)
B::detached(A)

a['dolly'] = 'b'
C::ATTACHED(A)
B::ATTACHED(A)

export 'a'
array(2) {
  "(A)" => NULL
  "children" => array(2) {
    "b" => array(2) {
      "(B)" => string(1) "b"
      "children" => array(1) {
        "c" => array(2) {
          "(C)" => string(1) "c"
          "children" => array(1) {
            "d" => array(2) {
              "(D)" => string(1) "d"
              "children" => array(1) {
                "e" => array(1) {
                  "(E)" => string(1) "e"
                }
              }
            }
          }
        }
      }
    }
    "dolly" => array(2) {
      "(B)" => string(5) "dolly"
      "children" => array(1) {
        "c" => array(2) {
          "(C)" => string(1) "c"
          "children" => array(1) {
            "d" => array(2) {
              "(D)" => string(1) "d"
              "children" => array(1) {
                "e" => array(1) {
                  "(E)" => string(1) "e"
                }
              }
            }
          }
        }
      }
    }
  }
}

