body {
	font: 16px/1.5 "Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: #333;
	background-color: #fff;
}

h1 {
	font-size: 150%;
	color: #165ca3;
}

#spinner {
	display: none;
	position: absolute;
	border: none;
	z-index: 1000;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}
