<h1>Nette\Templates\CurlyBracketsFilter & inheritance test</h1>

<pre>
&lt;!DOCTYPE html PUBLIC &quot;-//W3C//DTD XHTML 1.0 Transitional//EN&quot; &quot;http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd&quot;&gt;
&lt;html xmlns=&quot;http://www.w3.org/1999/xhtml&quot; xml:lang=&quot;en&quot; lang=&quot;en&quot;&gt;
&lt;head&gt;
	&lt;link rel=&quot;stylesheet&quot; href=&quot;style.css&quot; /&gt;
	&lt;title&gt;Homepage | My website&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
	&lt;div id=&quot;sidebar&quot;&gt;
				&lt;ul&gt;
			&lt;li&gt;&lt;a href=&quot;/&quot;&gt;Homepage&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href=&quot;/contact&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
			&lt;/div&gt;

	&lt;div id=&quot;content&quot;&gt;
			&lt;ul&gt;
			&lt;li&gt;John&lt;/li&gt;
			&lt;li&gt;Mary&lt;/li&gt;
			&lt;li&gt;Paul&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;