<h1>Nette\Templates\CurlyBracketsFilter & snippets test</h1>

<pre>
<?php
if (!isset($_cb)) $_cb = $template->_cb = (object) NULL;
if (empty($_cb->escape)) $_cb->escape = 'escape';
if (!empty($_cb->caches)) end($_cb->caches)->addFile($template->getFile());
?><?php
if (SnippetHelper::$outputAllowed) {
?>	<?php } if ($_cb->foo = $template->snippet($control)) { $_cb->snippets[] = $_cb->foo; ?>

	<?php array_pop($_cb->snippets)->finish(); } if (SnippetHelper::$outputAllowed) { ?>



	<?php } if ($_cb->foo = $template->snippet($control, "outer")) { $_cb->snippets[] = $_cb->foo; ?>
	Outer
		<?php } if ($_cb->foo = $template->snippet($control, "inner")) { $_cb->snippets[] = $_cb->foo; ?>Inner<?php array_pop($_cb->snippets)->finish(); } if (SnippetHelper::$outputAllowed) { ?>
	/Outer
	<?php array_pop($_cb->snippets)->finish(); } if (SnippetHelper::$outputAllowed) { ?>



	<?php } ?><?php if (true): ?><?php if (SnippetHelper::$outputAllowed) { ?> Hello World <?php } ?><?php endif ?><?php if (SnippetHelper::$outputAllowed) { ?>

	<?php } if ($_cb->foo = $template->snippet($control, "title", 'h2')) { $_cb->snippets[] = $_cb->foo; ?>Title 1<?php array_pop($_cb->snippets)->finish(); } if (SnippetHelper::$outputAllowed) { ?>

	<?php } if ($_cb->foo = $template->snippet($control, "title", '<h2>')) { $_cb->snippets[] = $_cb->foo; ?>Title 2<?php array_pop($_cb->snippets)->finish(); } if (SnippetHelper::$outputAllowed) { ?>

	<?php } if ($_cb->foo = $template->snippet($control, "title", '<h2 class="top">')) { $_cb->snippets[] = $_cb->foo; ?>Title 3<?php array_pop($_cb->snippets)->finish(); } if (SnippetHelper::$outputAllowed) { ?>

	<?php } if ($_cb->foo = $template->snippet($control, "title", '<h2>')) { $_cb->snippets[] = $_cb->foo; ?>Title 4<?php array_pop($_cb->snippets)->finish(); } if (SnippetHelper::$outputAllowed) { ?>
<?php
}
?>