<h1>Nette\Templates\TemplateHelpers test</h1>

TemplateHelpers::bytes(0.1)
string(3) "0 B"

TemplateHelpers::bytes(-1024 * 1024 * 1050)
string(8) "-1.03 GB"

TemplateHelpers::bytes(1e19)
string(10) "8881.78 PB"

TemplateHelpers::date(NULL)
NULL

TemplateHelpers::date(timestamp)
string(8) "01/23/78"

TemplateHelpers::date(string)
string(8) "05/05/78"

TemplateHelpers::date(DateTime)
string(8) "05/05/78"

TemplateHelpers::date(timestamp, format)
string(10) "1978-01-23"

TemplateHelpers::date(string, format)
string(10) "1212-09-26"

TemplateHelpers::date(DateTime, format)
string(10) "1212-09-26"

