<h1>Nette\Templates\CurlyBracketsFilter & helpers test</h1>

<ul>
	<li>lower: hello world</li>
	<li>upper: HELLO WORLD</li>
	<li>lower & capitalize: Hello World</li>
	<li>nl2br: Hello World</li>
	<li>truncate: hello…</li>
	<li>date: 02.01.2008 00:00:00</li>
</ul>

<ul>
	<li>HELLO WORLD (1 TIMES)</li>
	<li>HELLO WORLD (2 TIMES)</li>
	<li>hello world (3 times)</li>
	<li>hello world (4 times)</li>
</ul>



<a href="#" > test</a >




<p>
Nested blocks:  Outer    INNER…
</p>
