
{* comment *}

{* multi inner} {inner}
line
comment *}


<!-- -- -->

<!--> {$gt} -->

<!-- --->

<!--{$dash} {$dash}{$dash} {$dash}-->

<!--{='-xx'}-->
<!--{='--xx'}-->
<!--{='xx-'}-->
<!--{='xx--'}-->
<!--{='xx-xx'}-->
<!--{='xx--xx'}-->

<!--{$gt}-->


<!--[if IE 5]>  <![endif]-->

<![if !IE 5]> <![endif]>

<!--[if IE 5]><script src="{$basePath}/js/jquery.js"></script><![endif]-->
