{form myForm}
<table>
{foreach $form->controls as $name => $field}
<tr>
	<th>{label $name /}<th>
	<td>{input $name title => Hello, cols => 10}</td>
</tr>
{/foreach}
</table>
{/form myForm}


{form myForm}
	<input value=val type class="hello" n:input="username">
{/form myForm}



{form myForm, id => "myForm" class="ajax"}
	<input value=val type class="hello" n:input="username">
{/form}


<FORM n:form="myForm" id="myForm" class="ajax" data-something="xxx">
	<strong>Username:</strong><input value=val type class="hello" n:input="username">
</FORM>
