{snippet hello}Hello{/snippet} world!

{snippet include}
	{include include3.latte localvar => 'A', hello => 'B'}
{/snippet}

{snippet array}
	{foreach [1, 2, 3] as $id}
		{snippet array-$id}Value {$id}{/snippet}
	{/foreach}
{/snippet}

{snippet}
	{include snippet-included.latte say => 'Hello include snippet'}
{/snippet}
