common:
	variable:
		tempDir: %appDir%/cache
		foo: %bar% world
		bar: hello
	set:
		date.timezone: "Europe/Prague"
		iconv.internal_encoding: "%encoding%"
		mbstring.internal_encoding: "%encoding%"
		include_path: "%appDir%/../_trunk;%appDir%/libs"


# Production site configuration data inherits from common
production < common:
	service:
		Nette\Application\IRouter: Nette\Application\MultiRouter
		User: "Nette\\Security\\User"
		Nette\Autoloader: Nette\AutoLoader
	webhost: www.example.com
	database:
		params:
			host: db.example.com
			username: dbuser
			password: secret
			dbname: dbname
		adapter: pdo_mysql


development < production:
	database:
		params:
			host: dev.example.com
			username: devuser
			password: devsecret
