services:
	ipsum: Ipsum
	bar: Bar
	baz: Baz

factories:
	lorem: \ILoremFactory(Lorem)

	article:
		create: Article(%title%)
		implement: IArticleFactory
		parameters: [title]

	fooFactory1:
		create: Foo(..., %baz%)
		implement: IFooFactory
		parameters: [Baz baz = NULL]

	fooFactory2:
		create: Foo(..., %baz%)
		implement: IFooFactory
		parameters: [Baz baz = NULL]

	fooFactory3:
		create: Foo
		implement: IFooFactory
