parameters:
	class: Lorem
	factory: Factory

services:
	model:
		create: %factory%::createModel
		setup:
			# local methods
			- test(...)
			- @model::test()
			- @self::test()

			# static class method
			- Lorem::test

			# other service method
			- @lorem::test

	lorem:
		class: %class%

	alias: @lorem

	authenticator:
		class: Nette\Security\SimpleAuthenticator
		arguments: [['username': '*****']]
