parameters:
	class: Ipsum

services:
	referencedService: @one

	referencedServiceWithSetup:
		factory: @one
		setup:
			- $x(10)

	serviceAsParam: Ipsum(@one)
	calledService: @one()
	calledServiceWithArgs: @one(1)
	calledServiceAsParam: Ipsum(@one())
	calledServiceWithArgsAsParam: Ipsum(@one(1))

	one:
		class: %class%
		arguments: [1]

	two:
		class: %class%(1)

	three:
		class: Lorem
		create: Factory::createLorem
		arguments: [1]

	four:
		create: Factory::createLorem(1)

	five:
		create: [Factory, createLorem](1)

	six: Factory::createLorem(1)

	seven: @factory

	eight: @factory()

	stdClass: stdClass


factories:
	factory: Lorem
