services:
	app2 < nette.application: # inherites from extended application
		autowired: no

	nette.application: # extends original application
		class: MyApp
		setup: # extends original setup
			- $errorPresenter(Error)
