services:
	ipsum: Ipsum
	bar: Bar
	baz: Baz

factories:
	lorem:
		class: Lorem
		implement: ILoremFactory

	article:
		create: Article(%title%)
		implement: IArticleFactory
		parameters: [title]

	foo:
		create: Foo(..., %baz%)
		implement: IFooFactory
		parameters: [Baz baz]