services:
	app2 < nette.application: # inherites from overwritten application
		autowired: no
		setup!: # overwrites inherited setup

	nette.application!: # overwrites original application
		class: MyApp
		setup:
			- $errorPresenter(Error)
