services:
	one1:
		class: Ipsum
	one2:
		class: Ipsum
		arguments: [2]
	one3:
		class: Ipsum(2)
	one4:
		arguments: [2]
	one5:
		factory: IpsumFactory::create
	one6:
		factory: IpsumFactory::create
		arguments: [2]
	one7:
		factory: IpsumFactory::create(2)

	two1:
		class: Ipsum
	two2:
		class: Ipsum
		arguments: [2]
	two3:
		class: Ipsum(2)
	two4:
		arguments: [2]
	two5:
		factory: IpsumFactory::create
	two6:
		factory: IpsumFactory::create
		arguments: [2]
	two7:
		factory: IpsumFactory::create(2)

	three1:
		class: Ipsum
	three2:
		class: Ipsum
		arguments: [2]
	three3:
		class: Ipsum(2)
	three4:
		arguments: [2]
	three5:
		factory: IpsumFactory::create
	three6:
		factory: IpsumFactory::create
		arguments: [2]
	three7:
		factory: IpsumFactory::create(2)