common:
	parameters:
		zone: "Europe/Prague"
		foo: %bar% world
		foo3: overwritten
		bar: hello

	constants:
		BAR: %foo%

	php:
		date.timezone: %zone%

	extensions:

# Production site configuration data
production < common:
	parameters:
		database:
			dsn: "sqlite2::memory:"
			user: dbuser
			password: secret

# Staging site configuration data
development < common:
	parameters:
		database:
			user: dev_user
			password: dev_secret
