/** common style for Nette examples */

html {
	font: 16px/1.5 sans-serif;
	border-top: 4.7em solid #F4EBDB;
}

body {
	max-width: 990px;
	margin: -4.7em auto 0;
	background: white;
	color: #333;
}

h1 {
	font-size: 1.9em;
	margin: .5em 0 1.5em;
	background: url(logo.png) right center no-repeat;
	color: #7A7772;
	text-shadow: 1px 1px 0 white;
}
