<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<body>
Line 6
<?


	echo 'Line 10 - ' . __LINE__ . "\n"
	// something


?>
Line 15
<?php

	echo 'Line 18 - ' . __LINE__ . "\n"
	// x


?>
Line 23

<?php echo 'Line 25 - ' . __LINE__ . "\n" ?>
</body>
</html>
