	{snippet}

	{/snippet}



	{snippet outer}
	Outer
		{snippet inner}Inner{/snippet inner}
	/Outer
	{/snippet outer}



	@{if true} Hello World @{/if}

	{snippet title h2}Title 1{/snippet title}

	{snippet title2 <h2>}Title 2{/snippet}
